.name {
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    padding-top: 17px;
    margin: 0 15px;
    letter-spacing: 1px;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
}

.navbar #navlink {
    color: black;
    padding: 10px;
    margin: 0 15px;
    outline: none;
}

.navbar #navlink:hover {
    color: gray;
}